body{
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
    }
    /* @keyframes example{
        0% {background-color: rgb(255, 255, 255);}
        50% {background-color: rgba(180, 180, 180);}
        100% {background-color: rgb(255, 255, 255);}
    }
    */

#navbar{
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    margin-top: -2px;
    z-index: 100;
    }
    
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 30px;
}
.form-select{
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
    font-size: 20px;
    font: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 0px;
    margin-left: 1500px;
}
#navbar a:hover{
    background-color: white;
    color: black;
}
.button{
    background-color: red;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  ::-webkit-scrollbar-thumb {
    background: #888;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#dropdownMenuLink{
  z-index: 500;
  margin: 5px 0px 5px 0px;
}
.navbar-brand{
    border-right: solid white 2px;
    padding-right: 25px;
}
.navbar-brand:hover{
    border-bottom: solid white 2px;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#sneakertext{
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 21.96px;
    margin-left: 10px;
}
#sneakerar{
    font-style: italic;
    text-align: center;
}
