body{
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
    }
    /* @keyframes example{
        0% {background-color: rgb(255, 255, 255);}
        50% {background-color: rgba(180, 180, 180);}
        100% {background-color: rgb(255, 255, 255);}
    }
    */

#navbar{
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    margin-top: -2px;
    z-index: 100;
    }
    
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 30px;
}
.form-select{
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
    font-size: 20px;
    font: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    display: flex;
    float: right;
    width: 5%;
    z-index: 300;
}

#navbar a:hover{
    background-color: white;
    color: black;
}
.button{
    background-color: red;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  ::-webkit-scrollbar-thumb {
    background: #888;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#dropdownMenuLink{
  z-index: 500;
  margin: 5px 0px 5px 0px;
}
.navbar-brand{
    border-right: solid white 2px;
    padding-right: 25px;
    transition-duration: 2s;
    transition-delay: 1s;
}
.navbar-brand:hover{
    color: rgb(202, 202, 202);
}
#btn-back-to-top {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.line2{
    color: #555;
    font-size: 30px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sneakerekpng{
    width: 100%;
}
#kosarbtn{
    color: white;
}
.link{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.link:hover{
    font-size: 32.8px;
}
#footer{
    background-color: #555;
    height: 60px;
    margin-top: 4%;
    border-top: dashed 3px #2b2b2b;
}
.copyright{
    color: white;
    padding-top: 1%;
    text-align: center;
}
.formurlap{
    margin-top: 10%;
}
#hirlevelradio{
    margin-top: 28px;
    margin-bottom: 32px;
}
#flexSwitchCheckChecked{
    cursor: pointer;
}
#rendeleskep{
    border: solid 2px rgb(170, 170, 170);
    border-radius: 10px;
    margin-top: 8%;
    margin-left: -40%;
}
#rendelesresz{
    margin-top: 2%;
}
.kerdesresz{
    margin-top: 6%;
    border-bottom: solid 3px black;
}
.urlapresz{
    margin-left: 30%;
}
#nevtext{
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}