body{
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
    }
    /* @keyframes example{
        0% {background-color: rgb(255, 255, 255);}
        50% {background-color: rgba(180, 180, 180);}
        100% {background-color: rgb(255, 255, 255);}
    }
    */

#navbar{
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    margin-top: -2px;
    z-index: 100;
    }
    
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 30px;
}
.form-select{
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
    font-size: 20px;
    font: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    display: flex;
    float: right;
    width: 5%;
    z-index: 300;
}

#navbar a:hover{
    background-color: white;
    color: black;
}
.button{
    background-color: red;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  ::-webkit-scrollbar-thumb {
    background: #888;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#dropdownMenuLink{
  z-index: 500;
  margin: 5px 0px 5px 0px;
}
.navbar-brand{
    border-right: solid white 2px;
    padding-right: 25px;
    transition-duration: 4s;
    transition-delay: 2s;
}
.navbar-brand:hover{
    color: rgb(202, 202, 202);
    font-size: 190px;
}
#btn-back-to-top {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.line2first{
    color: #555;
    font-size: 30px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line2second{
    color: #555;
    font-size: 30px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: ease-out;
}
@keyframes examplesecond{
    50% {text-align: left;}
    100% {text-align: center;}

}
.sneakerekpng{
    width: 100%;
}

.slide-right{
	-webkit-animation: slide-right 20s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 20s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}
.slide-left{
	-webkit-animation: slide-left 20s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 20s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}
@keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
    }
    100% {
        -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
@keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(-30%);
              transform: translateX(-30%);
    }
    100% {
        -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

.sneakerekpng{
    border-bottom: groove 6px black;
    border-top: solid 6px black;
}

#reklamhatter{
    position: relative;
    animation-name: reklam;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
}
@keyframes reklam{
    0% {background-color: rgb(255, 255, 255);}
    50% {background-color: rgb(180, 180, 180);}
    100% {background-color: rgb(255, 255, 255);}
}
.rolunkh1{
    margin-top: 8%;
    color:#131313;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rolunktxt{
    border-top: solid 4px rgb(32, 32, 32);
    padding: 7%;
    color:#3f3f3f;
    font-size: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.elertxt{
    margin-top: 2%;
    color:#131313;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mappng{
    border-top: solid 4px rgb(32, 32, 32);
    padding: 7%;
    width: 108%;
}
#list-group-item{
    border-left: solid 3px rgb(56, 56, 56);
    margin-top: 2%;
}
.nyitvatartas{
    margin-left: 8%;
    margin-top: 4%;
}
#nyitvatartascim{
    font-size: 20px;
    margin-top: 1.6%;
    border-bottom: solid 3px rgb(88, 88, 88);
    border-left: solid 3px rgb(56, 56, 56);
}
.nyitvatartasido{
    border-bottom: solid 1px grey;
    width: 26%;
}
#footer{
    background-color: #555;
    height: 60px;
    margin-top: 4%;
    border-top: dashed 3px #2b2b2b;
}
.copyright{
    color: white;
    padding-top: 1%;
    text-align: center;
}