body{
    position: relative;
    animation-name: example;
<<<<<<< HEAD
    animation-duration: 8s;
=======
    animation-duration: 10s;
>>>>>>> 1b05acdad333dc1e16b61ae77cc0a689cf90e8a1
    animation-iteration-count: infinite;
    }
    @keyframes example{
        0% {background-color: rgb(255, 255, 255);}
<<<<<<< HEAD
        50% {background-color: rgba(180, 180, 180);}
=======
        50% {background-color: rgba(200, 200, 200);}
>>>>>>> 1b05acdad333dc1e16b61ae77cc0a689cf90e8a1
        100% {background-color: rgb(255, 255, 255);}
    }

#navbar{
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    margin-top: -2px;
    z-index: 100;
    }
    
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 30px;
}
#navbar a:hover{
    background-color: white;
    color: black;
}
.button{
    background-color: red;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}